In [7]:
import pandas as pd
import numpy as np
import re

import sys
sys.path.append("..")
from utils import utils

In [13]:
df = pd.read_excel("../data_exploration/acl/tables/sentiment_indepth.xlsx")
df = df.drop("Name", axis=1)
df["Text type"] = df["Text type"].apply(lambda x: re.sub(r" &.*", "", x)) # Remove '& similar'
df["Domain"] = df["Domain"].str.replace(" & ", "/") # Remove '&' in general

In [14]:
utils.convert_table_to_latex(df, experiment="acl", add_group=False)

German & Social media & Trains & Human & 8706 & 100 & 100\\
Spanish & Reviews & Hotels & nan & 1472 & 100 & 100\\
Slovak & Reviews & Services & Human & 5124 & 100 & 100\\
Norwegian & Reviews & Many & Human & 3608 & 100 & 100\\
Greek & Social media & Politics & Human & 661 & 3 & 39\\
Greek & Social media & Many & Human & 519 & 5 & 22\\
Greek & Reviews & Mobile phones & Auto & 5906 & 92 & 39\\
Chinese & Reviews & Many & Auto & 19835 & 100 & 100\\
Vietnamese & Reviews & Technology & Human & 3400 & 100 & 100\\
Thai & Social media & Product reviews & Human & 11600 & 100 & 100\\
Cantonese & Reviews & Food & Auto & 41578 & 100 & 100\\
Indonesian & Reviews & Many & Human & 11324 & 100 & 100\\
Finnish & Social media & Many & Human & 6332 & 100 & 100\\
Basque & Reviews & Food/lodging & Human & 1129 & 100 & 100\\
Korean & Reviews & Movies & Auto & 40000 & 100 & 100\\
Japanese & Reviews & Many & Auto & 14060 & 100 & 100\\
Turkish & Reviews & Food & Human & 1052 & 16 & 100\\
Turkish & Reviews & Many & Auto & 3750 & 84 & 0\\
Arabic & Social media & Many & Human & 1589 & 45 & 45\\
Arabic & Social media & Many & Human & 1951 & 55 & 55\\
Hebrew & Social media & Politics & Human & 10110 & 100 & 100\\
Algerian & Social media & Many & Human & 731 & 100 & 100\\
Maltese & Social media & Many & Human & 718 & 84 & 84\\
Maltese & Social media & Politics & Human & 133 & 16 & 16\\

,Language,Text type,Domain,Annotator,Examples selected,Train %,Dev/test %
0,German,Social media,Trains,Human,8706,100,100
1,Spanish,Reviews,Hotels,NaN,1472,100,100
2,Slovak,Reviews,Services,Human,5124,100,100
3,Norwegian,Reviews,Many,Human,3608,100,100
4,Greek,Social media,Politics,Human,661,3,39
5,Greek,Social media,Many,Human,519,5,22
6,Greek,Reviews,Mobile phones,Auto,5906,92,39
7,Chinese,Reviews,Many,Auto,19835,100,100
8,Vietnamese,Reviews,Technology,Human,3400,100,100
9,Thai,Social media,Product reviews,Human,11600,100,100
10,Cantonese,Reviews,Food,Auto,41578,100,100
11,Indonesian,Reviews,Many,Human,11324,100,100
12,Finnish,Social media,Many,Human,6332,100,100
13,Basque,Reviews,Food/lodging,Human,1129,100,100
14,Korean,Reviews,Movies,Auto,40000,100,100
15,Japanese,Reviews,Many,Auto,14060,100,100
16,Turkish,Reviews,Food,Human,1052,16,100
17,Turkish,Reviews,Many,Auto,3750,84,0
18,Arabic,Social media,Many,Human,1589,45,45
19,Arabic,Social media,Many,Human,1951,55,55
20,Hebrew,Social media,Politics,Human,10110,100,100
21,Algerian,Social media,Many,Human,731,100,100
22,Maltese,Social media,Many,Human,718,84,84
23,Maltese,Social media,Politics,Human,133,16,16